body {
	background: orange;
	color: blue;
}

li {
	border: 2px solid red;
}

#special{
	background: yellow;
}

.completed {
	text-decoration: line-through;
}

p {
	color: green;
}

ul{
	color: black;
}

li {
	color: brown;
}

.highlight{
	color: lightgray;
}

#special {
	color: black;
}

h1 + ul {
	background: green;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity*/